<!-- Chat window-->
<div class="chat-window">
  <aside>
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-list-alt icon"></span>
        Chat
      </div>
      <div class="chat-output">

      </div>
      <form action="">
        <input id="msgInput" autocomplete="off" ng-model="currentMessage.message"/>
        <button ng-click="sendMessage(currentMessage)" type='button' stop-event> Send</button>
      </form>
    </div>
  </aside>
</div>
