<!-- Chat window-->
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-list-alt icon"></span>
    Chat
  </div>

  <div class="panel-body">
    <label>Messages</label>
    <div class="chat-output">
      <div id="chatHistoryPlaceholder">
        <i>There are currently no messages available!</i>
      </div>
    </div>
    <br>
    <div class="form-group has-feedback">
      <form action="">
        <label>New Message</label>
        <input id="msgInput" autocomplete="off" ng-model="currentMessage.message" class="form-control"/>
      </form>
    </div>
    <button ng-click="sendMessage(currentMessage)" type='button' stop-event class="btn btn-default"> Send</button>
  </div>
</div>

