@border: 3px;

.game-container {
  width: 100%;
  background-color: blue;
  padding: @border;
}

.game-row {
  font-size: 0;
  width: 100%;
  padding-left: @border;
}

.game-row:first-child {
  padding-top: @border;
}

.game-box {
  display: inline-block;
  position: relative;
  width: 100% / 7;
}

.game-box:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.game-field {
  position: absolute;
  top: 0;
  left: 0;
  bottom: @border;
  right: @border;
  background-color: mediumturquoise;
}

.game-field.red {
  background-color: red;
}

.game-field.yellow {
  background-color: yellow;
}
