<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h2>Spiel</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <game-move></game-move>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-md-6">

      <div class="game-container" ng-click="game.doMove($event)" ng-mouseover="game.mouseOver($event)">
          <div class="game-row" ng-repeat="gameFieldRow in game.getCurrentGame().cells track by $index">
            <game-field ng-repeat="gameField in gameFieldRow track by $index"></game-field>
          </div>
      </div>

    </div>

    <div class="col-xs-6 col-md-6">
      TODO Insert Chat here.<br>
      Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat
      Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat
      Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat
      Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat
      Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat
      Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat Chat
    </div>

  </div>

</div>
