<div class="container-fluid">

  <div class="row">
    <header class="col-xs-12 col-sm-12">
      <h2>Spiel</h2>
      <p>Auf Spalte klicken um Stein zu legen</p>
    </header>
  </div>

  <div class="row">
    <section class="col-xs-12 col-sm-6">
      <game-move></game-move>
    </section>
  </div>

  <div class="row">

    <section class="col-xs-12 col-sm-6">

      <div class="game-container" ng-click="game.doMove($event)" ng-mouseover="game.mouseOver($event)">
          <div class="game-row" ng-repeat="gameFieldRow in game.getCurrentGame().cells track by $index">
            <game-field ng-repeat="gameField in gameFieldRow track by $index"></game-field>
          </div>
      </div>

      <div class="btn-group btn-group-justified game-control" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" ng-click="game.restartGame()">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Neues Spiel
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" ng-click="game.breakGame()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Spiel beenden
          </button>
        </div>
      </div>
    </section>

    <aside class="col-xs-12 col-sm-6">
      <!-- Chat Module -->
      <div ng-controller="ChatCtrl">
        <chat-window chat-model="chatModel" chat-section='game' id="(game.getCurrentGame())._id"></chat-window>
      </div>
    </aside>

  </div>

</div>
