<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h2>Willkommen beim Vier Gewinnt der Gruppe 6</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h3>Spiel starten</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      Klicke auf <a href="#/game">Spiel</a>, um ein lokales Spiel zu zweit vor einem Bildschirm zu starten.
    </div>
    <div class="col-xs-12 col-sm-2">
      <a class="btn btn-default btn-block" href="#/game" role="button">Spiel</a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h3>Spielpartner finden</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      Klicke auf <a href="#/lobby">Lobby</a>, um einen Spielpartner für ein Netzwerkspiel zu finden.
    </div>
    <div class="col-xs-12 col-sm-2">
      <a class="btn btn-default btn-block" href="#/lobby" role="button">Lobby</a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h3>Spielkonto nutzen</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      Klicke auf <a href="#/session">Login</a>, um dich an einem bereits bestehenden Spielkonto anzumelden oder um ein Spielkonto zu erstellen.<br>
      Klicke auf <a href="#/user">Einstellungen</a>, um deine Angaben im Spielkonto anzuzeigen oder zu ändern.
    </div>
    <div class="col-xs-12 col-sm-2">
      <a class="btn btn-default btn-block" href="#/session" role="button">Login</a>
    </div>
  </div>

</div>
