<div class="container-fluid">

  <div class="row">
    <header class="col-xs-12 col-sm-12">
      <h2>Einstellungen</h2>
      <p>Benutzername und Passwort ändern</p>
    </header>
  </div>

  <div class="row">
    <section class="col-xs-6 col-sm-6">
      <form name="userForm" ng-submit="user.saveUser()">
        <div class="form-group has-feedback" ng-class="{'has-success': userForm.name.$valid, 'has-error': userForm.name.$invalid }">
          <label for="name">Name</label>
          <input ng-model="user.displayUser.name" type="text" class="form-control" name="name" id="name" placeholder="Name" required ng-pattern="/^[a-zA-Z0-9]{3,15}$/">
          <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': userForm.name.$valid, 'glyphicon-remove': userForm.name.$invalid}" aria-hidden="true"></span>
          <span class="help-block">Drei bis 15 alphanumerische Zeichen erforderlich.</span>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-success': userForm.password.$valid, 'has-error': userForm.password.$invalid }">
          <label for="password">Passwort</label>
          <input ng-model="user.password" type="password" class="form-control has-error" name="password" id="password" placeholder="Password" required ng-minlength="3">
          <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': userForm.password.$valid, 'glyphicon-remove': userForm.password.$invalid}" aria-hidden="true"></span>
          <span class="help-block">Mindestens drei Zeichen erforderlich.</span>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-success': userForm.passwordCheck.$valid, 'has-error': userForm.passwordCheck.$invalid }">
          <label for="passwordCheck">Passwort wiederholen</label>
          <input ng-model="user.passwordCheck" type="password" class="form-control" name="passwordCheck" id="passwordCheck" placeholder="Password" required ng-minlength="3">
          <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': userForm.passwordCheck.$valid, 'glyphicon-remove': userForm.passwordCheck.$invalid}" aria-hidden="true"></span>
          <span class="help-block">Mindestens drei Zeichen erforderlich.</span>
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="userForm.$invalid">Speichern</button>
      </form>
    </section>
  </div>
</div>
