<!--Body header to create a new game-->
<section class="container">
  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="createGame" class="navbar-brand" href="#"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
      </div>
    </div>
  </nav>
</section>



<!--Hidden div element to create a new game + additional div for displaying an overview of the pending/created games-->
<section class="container">
  <div class="row">
    <div class="col-xs-8">

      <!--Panel Heading - Create New Game -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-file icon"></span>
          Create New Game
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="name">Name:</label>
            <input name="name" class="form-control" id="name">
          </div>
          <button type="submit" class="btn btn-default">Create</button>
          </form>
        </div>
      </div>

      <!-- Display Games -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-list-alt icon"></span>
          Games
        </div>
        <div class="panel-body">
          <table class="table note-table">
            <thead class="game-table-header">
            <tr>
              <th>
                Status
                <a href="#">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
              </th>
              <th>
                Creation
                <a href="#">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
              </th>
              <th>
                Actions
                <a href="#">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
              </th>
            </tr>
            </thead>
            <tbody class="note-table-body">
            <tr class="noteTableRow">
              <td>Game 1</td>
              <td>01.01.2015</td>
              <td>
                <a href="#" class="icon">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="#" class="icon">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div> <!-- gameDiv -->
    </div> <!-- class="col-xs-8" -->

    <!-- Chat window-->
    <div class="col-xs-4">
      <div class="panel panel-default sideDiv">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-list-alt icon"></span>
          Chat
        </div>

        </div>
      </div>
    </div>

  </div> <!--div.row -->
</section>





