<!--Body header to create a new game-->
<section class="container">
  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="createGame" class="navbar-brand" href="#" ng-click="lobby.toggleNewGame()" stop-event><span
          class="glyphicon glyphicon-plus"></span></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
      </div>
    </div>
  </nav>
</section>


<section class="container">
  <div class="row">
    <div class="col-xs-8 content">

      <!--Panel Heading - Create New Game -->
      <div class="panel panel-default" ng-hide="lobby.gameCreation">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-file icon"></span>
          Create New Game
        </div>
        <div class="panel-body">
          <div class="form-group has-feedback">
            <form name="createRoomForm" novalidate> <!-- deactivate HTML5 validation-->
              <label for="creation-name">Name:</label>
              <input type="text" name="name" class="form-control" id="creation-name" ng-minlength="3"
                     ng-model="lobby.currentItem.name" room>

              <div class="validation-wrapper">
                <div ng-show="createRoomForm.name.$error.minlength" class="validation-errors">The minimum length of the
                  number has to be at least 3 character long!
                </div>
                <div ng-show="createRoomForm.name.$error.room " class="validation-errors">Only alphanumeric characters
                  are accepted as input!
                </div>
                <span ng-hide="createRoomForm.name.$error.room || createRoomForm.name.$error.minlength"
                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="createRoomForm.name.$error.room || createRoomForm.name.$error.minlength"
                      class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              </div>
            </form>
          </div>
          <button type="submit" class="btn btn-default"
                  ng-click="createRoomForm.$valid && lobby.createRoom({name : lobby.currentItem.name})">Create
          </button>
        </div>
      </div>

      <!--Panel Heading - Edit Existing Game -->
      <div class="panel panel-default" ng-hide="lobby.gameEditing">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-file icon"></span>
          Edit Existing Game
        </div>
        <div class="panel-body">
          <div class="form-group has-feedback">
            <form name="editRoomForm" novalidate> <!-- deactivate HTML5 validation-->
              <label for="editing-title">Name:</label>
              <input type="text" name="name" class="form-control" id="editing-title" ng-minlength="3"
                     ng-model="lobby.currentItem.name" room>
              <input type="hidden" name="roomId" class="form-control" ng-model="lobby.currentItem.roomId">

              <div class="validation-wrapper">
                <div ng-show="editRoomForm.name.$error.minlength" class="validation-errors">The minimum length of the
                  number has to be at least 3 character long!
                </div>
                <div ng-show="editRoomForm.name.$error.room " class="validation-errors">Only alphanumeric characters are
                  accepted as input!
                </div>
                <span ng-hide="editRoomForm.name.$error.room || editRoomForm.name.$error.minlength"
                      class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="editRoomForm.name.$error.room || editRoomForm.name.$error.minlength"
                      class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              </div>
            </form>
          </div>
          <button type="submit" class="btn btn-default"
                  ng-click="editRoomForm.$valid && lobby.updateRoom({roomId : lobby.currentItem.roomId, name : lobby.currentItem.name})">
            Edit
          </button>
        </div>
      </div>

      <!-- Show messages regarding actions to the user -->
      <action-message-display></action-message-display>

      <!-- <div class="panel panel-default message-panel" ng-show="lobby.showMessage">
         <span></span>
       </div>-->

      <!-- Display Games -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-list-alt icon"></span>
          Games
        </div>
        <div class="panel-body">
          <table class="table note-table">
            <thead class="game-table-header">
            <tr>
              <th>
                RoomId
                <a href="#">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
              </th>
              <th>
                Name
                <a href="#">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
              </th>
              <th>
                Status
                <a href="#">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
              </th>
              <th>
                Players
                <a href="#">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
              </th>
              <th>
                Creation
                <a href="#">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
              </th>
              <th>
                Actions
                <a href="#">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
              </th>
            </tr>
            </thead>
            <tbody class="note-table-body">
            <tr class="noteTableRow" ng-repeat="item in lobby.lobbyData">
              <td>{{item.roomId}}</td>
              <td>{{item.name}}</td>
              <td>{{item.status}}</td>
              <td>
                <span ng-repeat="player in item.players">
                  {{player.userName}}
                </span>
              </td>
              <td>{{item.creationTime}}</td>
              <td>
                <a href="#" class="icon" ng-click="lobby.joinRoom(item)" stop-event>
                  <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="#" class="icon" ng-click="lobby.editRoom(item)" stop-event>
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="#" class="icon" ng-click="lobby.deleteRoom(item)" stop-event>
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- gameDiv -->
    </div>
    <!-- class="col-xs-8" -->

    <!-- Chat window-->
    <div class="col-xs-4 chat-window">
      <aside>
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt icon"></span>
          </div>
          <div class="chat-output">

          </div>
          <form action="">
            <input id="msgInput" autocomplete="off" ng-model="lobby.chat.input"/>
            <button ng-click="lobby.wsSendChatMessage(lobby.chat.input)" stop-event>Send</button>
          </form>
        </div>
      </aside>
    </div>

    <div ng-controller="ChatCtrl">
      <chat-window chat-model="chatModel" chat-section="'Lobby'"></chat-window>
    </div>
  </div>
</section>





