a.icon  {
  margin: 0 5px 0 0;
}

.chat-window{

}

.content {

}

// Validation
.validation-wrapper {
  margin-top: 5px;
}

.validation-errors {
  border-left: 5px solid #a94442;
  padding-left: 15px;
}
#errors li {
  list-style-type: none;
}
#errors li:before {
  content: '\b7\a0';
}

// Action Message panel (error, success)

.action-message-div {
  height: 75px;
  line-height: 75px;
  text-align: center;
}


.action-message-span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.message-panel-success {
  border: 2px solid #008000;
  background-color: #90EE90;
}

.message-panel-success.ng-hide-add, .message-panel-success.ng-hide-remove {
  transition: all ease-out 1s;
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  -o-transition: all ease-out 1s;
  -ms-transition: all ease-out 1s;
}

.message-panel-success.ng-hide {
  opacity: 0;
  padding: 0 10px;
}

.message-panel-error {
  border: 2px solid #a94442;
  background-color: #e4b9b9;

}

.message-panel-error.ng-hide-add, .message-panel-error.ng-hide-remove {
  transition: all ease-out 1s;
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  -o-transition: all ease-out 1s;
  -ms-transition: all ease-out 1s;
}

.message-panel-error.ng-hide {
  opacity: 0;
  padding: 0 10px;
}
